
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. */
    box-sizing: border-box;
    background-color:   #9ccc65;
    font-family: 'Coda', cursive, sans-serif;
}


h3, h4 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-style: oblique;
    color: #fff;
}


.portfolio-item {
    margin-bottom: 25px;
}


#img-responsive {
    width: 70%;
    height: auto;
}

.img-responsive {
    width: 50%;
    height: auto;
}

.navbar-nav {
    float: right;
    font-size: 1.3em;
    font-style: oblique;
}

.navbar-brand {
    font-size: 1.9em;
    font-variant: small-caps;
    font-weight: 900;
    font-style: oblique;
    color: #fff !important;
    cursor: pointer;

}

.navbar-brand:hover {
    color: #c5e1a5 !important;
  }

.navbar-default {
    background-color: #455a64 ;
    border-bottom: #455a64;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.navbar-nav > li > a {
    color: #c5e1a5!important;

}

.navbar-nav > li > a:hover {
    color: #212121 !important;
    background-color: #cfd8dc !important;
  }

.inline-list {
    float: left;
    list-style: none;

}

.inline-list  li {
    display: inline;
    margin-right: 15px;
}

.inline-list  li  a {
    text-decoration: none;
    color: #212121;
    font-style: oblique;
}


.copyright {
    float: left;
    clear: both;
    margin-left: 38px;
    word-spacing: 0.2em;
    color: #212121
}

footer {
    height: 100px;
    background: #607d8b;
}

.social-icons li{
    float: right;
    list-style: none;
    margin-right: 15px;
}

.social-icons li a{
    color: #fff;
}
