
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. */
}

h1, h3 {
    margin-top: 40px;
    margin-bottom: 15px;  
    color: #735d60;
}


.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
    text-align: center;
}

